.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.srv-validation-message{
  font-size: 12px;
  color: #ff0000;
}

.connector-line {
  position: absolute;
  top: 0;
  left: 10px; /* Adjust the positioning based on your design */
  width: 2px; /* Adjust the width of the line */
  height: 100%; /* Adjust the height of the line */
  background-color: #e2e8f0; /* Adjust the color of the line */
}

.timeline {
  position: relative;
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.timeline-marker {
  position: absolute;
  left: 1rem;
  top: 0.75rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #4f46e5; /* Replace with your desired marker color */
}

.timeline-content {
  margin-left: 2.5rem;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.bg-indian-post {
  background-color:#e8cc91;
}

.stamp-border {
  padding: 2px;
  border: 2px dashed #000000;
}

.app-title {
  font-family: 'Sacramento', sans-serif;
  font-size: 40px;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: -25px;
  cursor: pointer;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  white-space: nowrap;
  z-index: 1;
}

.relative:hover .tooltip {
  visibility: visible;
}

.profile {
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  flex: 0 0 auto;
  padding-right: 16px;
}

.main-content {
  flex: 1 1 auto;
  max-width: 570px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
